* {
  margin: 0;
  padding: 0;
}

.story-board-header {
  background: rgb(255, 102, 0);
  height: 50px;
}

.sm {
  /* float: left; */
  display: inline-block;
  width: 20%;
}

.sm-2 {
  width: 74%;
  margin-left: 2em;
  display: inline-block;
}

.domain-name,
span i,
.date {
  color: #828282;
}
.comments,
.likes-container {
  font-weight: 700;
  width: 50%;
  display: inline-block;
  text-align: right;
}

.story-row {
  padding: 0.5em 1em;
}

.likes-container {
  color: orange;
}

.hide-container {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.paging {
  margin: 20px 5%;
  color: orange;
  cursor: pointer;
  text-align: right;
}

.upvote-button {
  color: #ccccccab;
  cursor: pointer;
}

.story-title,
.author-name {
  font-weight: 800;
}

.story-row:nth-child(even) {
  background: #ccccccab;
}
.story-row > span,
.story-row > div > span {
  padding: 5px;
}

.upvote-button {
  margin-left: 0.8em;
}

@media (max-width: 600px) {
  .story-container {
    width: 100%;
  }

  .story-row {
    padding: 10px 3%;
    /* width: 80%; */
    display: flex;
    flex-direction: column-reverse;
  }

  .sm-2 {
    width: 90%;
    margin-left: unset;
  }
  .story-row .hide-container,
  .sm {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .story-row .hide-container {
    display: inline-block;
    margin: 0 0em;
    padding: 5px;
    vertical-align: baseline;
    width: unset;
  }

  .comments,
  .likes-container,
  .hide-story {
    width: unset;
    margin-top: 15px;
  }

  .like-comment-container {
    display: flex;
    width: 57%;
    justify-content: space-between;
  }
  .width {
    width: -webkit-fill-available;
  }
  .margin {
    margin: 10px;
  }
}
